@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'NanumSquareNeo-Variable', sans-serif;
    color: inherit;
    text-decoration: none;
    cursor: url(../images/cat-mouse.png) 2 2, auto;
}
body {
    overflow-X: hidden;
}
section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.inner {
    width: 1300px;
    margin: 0 auto;
}
h2 {
    color: #BF6161;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'NanumSquareNeo-Variable', sans-serif;
}
h3 {
    font-size: 24px;
    color: #581C1C;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-family: 'NanumSquareNeo-Variable', sans-serif;
}
a,
p,
span,
div {
    font-family: 'NanumSquareNeo-Variable', sans-serif;
}

/* header start */
header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 0;
    width: 100vw;
    z-index: 99;
}
header:before {
    content: "";
    display: block;
    width: 100vw;
    height: 60px;
    background: url("../images/back.jpg")no-repeat center/100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: -99;
}
header .inner {
    display: flex;
    justify-content: space-between;
}
header .logo {
    transform: rotate(0deg);
    transition: 1.4s;
}
header .logo:hover {
    transform: rotate(360deg) scale(0.5);
    transition: 1s;
}
header .logo a {
    display: block;
    width: 158px;
    height: 40px;
    scale: 0.9;
    background: url("../images/logo1.png") no-repeat center / cover;
}
header .menu ul {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    color: #fff;
    height: 100%;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
header .menu ul li a:hover {
    position: relative;
    display: block;
    padding-bottom: 5px;
    transition: 0.2s;
}
header .menu ul li a:after {
    content: "";
    display: block;
    height: 0;
    width: calc(100% + 4px);
    background: rgba(255, 255, 255, 0.45);
    border-radius: 2px;
    position: absolute;
}
header .menu ul li a:hover:after {
    height: 3px;
    margin-top: 5px;
    transition: 0.2s;
}
/* header end */


/* sec1 start */
.sec1 {
    z-index: 999;
    background: url("../images/back.jpg") repeat center / 60%;
}
.sec1 .left {
    position: absolute;
    width: 1168px;
    height: 776px;
    left: -200px;
    top: 50%;
    transform: translateY(-50%);
}
.sec1 .left * {
    position: absolute;
}
.sec1 .left .circle1 {
    left: 0;
    top: 0;
}
.sec1 .left .catFoot1 {
    left: 420px;
    bottom: 40px;
    animation: opacity 2s linear infinite;
}
@keyframes opacity {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}
.sec1 .me {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 435px;
    height: 900px;
}
.sec1 .me * {
    position: absolute;
}
.sec1 .me .img{
    right: 0;
    bottom: 0;
}
.sec1 .me:before {
    content: "";
    display: block;
    width: 130px;
    height: 38px;
    background: url("../images/seolminju-txt.png") no-repeat center / cover;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    animation: opacity 2s linear infinite;
}
.sec1 .me .twinkle {
    top: 220px;
    right: 20px;
}
.sec1 .me .catFoot2 {
    left: -60px;
    bottom: 140px;
}
.sec1 .me .circle2 {
    right: -30%;
    top: 60px;
    z-index: -99;
}
.sec1 .bigTitle {
    position: absolute;
    width: 1350px;
    height: 600px;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sec1 .bigTitle .logoBig {
    position: absolute;
    left: 0;
}
.sec1 .bigTitle .logoCat {
    position: absolute;
    top: 200px;
    right: 160px;
    animation: rotate_image 4s linear infinite;
}
@keyframes rotate_image {
    0% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(-30deg);
    }
}

.sec1 .txtRolling {
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    transform: translateY(calc(100vh - 100% - 8px));
}
.sec1 .txtBox {
    font-weight: 900;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 1.5px;

    animation: move 20s linear infinite;
}
@keyframes move {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}
.sec1 .scroll {
    width: 38px;
    height: 90px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
}
.sec1 .scroll:after {
    content: "scroll";
    position: absolute;
    left: 50%;
    top: -35px;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 1.5px;
}
.sec1 .scroll img {
    scale: 0.8;
    animation: scroll 3s ease-in-out infinite;
}
@keyframes scroll {
    0% {
        transform: translateY(10px);
        opacity: 0.4;
    }
    50% {
        transform: translateY(30px);
        opacity: 1;
    }
    100% {
        transform: translateY(10px);
        opacity: 0.4;
    }
}
/* sec1 end */


/* cover background */
.cover {
    position: relative;
    background: url("../images/back-cat.jpg") repeat center / 100% fixed;
}


/* sec2 start */
.sec2 .inner {
    padding-top: 140px;
}
.sec2 .aboutMe {
    display: flex;
    justify-content: center;
    gap: 140px;
}
.sec2 .aboutMe .profileBox .profile {
    width: 354px;
    height: 472px;
    background: url("../images/seolminju2.png") no-repeat center / cover;
    border: 10px solid #BF6161;
    border-radius: 50px;
    margin: 0 auto;
    transition: 0.3s;
}
.sec2 .aboutMe .profileBox .profile:hover {
    background-image: url("../images/seolminju3.png");
    transition: 0.3s;
}
.sec2 .aboutMe .profileBox .tag {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 16px;
    font-size: 18px;
}
.sec2 .aboutMe .profileBox .tag div {
    animation: itemAni 10s step-start infinite;
}
.sec2 .aboutMe .profileBox .tag div:nth-child(2) {
    animation-delay: 2s;
}
.sec2 .aboutMe .profileBox .tag div:nth-child(3) {
    animation-delay: 4s;
}
.sec2 .aboutMe .profileBox .tag div:nth-child(4) {
    animation-delay: 6s;
}
.sec2 .aboutMe .profileBox .tag div:nth-child(5) {
    animation-delay: 8s;
}
@keyframes itemAni {
    0% {
        color: #000000;
    }
    20% {
        color: #BF6161;
    }
    100% {
        color: #000000;
    }
}
.sec2 .aboutMe .aboutBox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec2 .aboutMe .aboutBox .about {
    margin-bottom: 60px;
}
.sec2 .aboutMe .aboutBox .about h2,
.sec2 .aboutMe .aboutBox .education h2 {
    margin-bottom: 25px;
}
.sec2 .aboutMe .aboutBox .about p,
.sec2 .aboutMe .aboutBox .education p {
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1px;
}
.sec2 .skill {
    margin-top: 80px;
}
.sec2 .skill ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.sec2 .skill ul li {
    width: 100%;
    line-height: 45px;
    background-color: #BF6161;
    border: 1px solid #BF6161;
    box-sizing: border-box;
    font-size: 22px;
    color: #fff;
    text-align: center;
    border-radius: 12px;
    position: relative;
}
.sec2 .skill ul li:hover {
    color: #BF6161;
}
.sec2 .skill ul li:after {
    content: "";
    display: block;
    width: 0;
    height: 43px;
    background: #BF6161;
    color: #BF6161;
    position: absolute;
    left: 1px;
    top: 1px;
    border-radius: 10px;
    font-size: 20px;
    text-align: left;
    padding-left: 15px;
    box-sizing: border-box;
    transition: 0.5s;
}
.sec2 .skill ul li:hover:after {
    content: "80%";
    width: 80%;
    transition: 0.5s;
    background: #ffffff;
}
.sec2 .skill ul li.skill2:hover:after,
.sec2 .skill ul li.skill5:hover:after {
    content: "70%";
    width: 70%;
}
.sec2 .skill ul li.skill3:hover:after {
    content: "90%";
    width: 90%;
}
.sec2 .skill ul li.skill6:hover:after {
    content: "50%";
    width: 50%;
}
/* sec2 end */


/* codingArea start (sec3,4,5) */
.codingArea {
    position: relative;
    padding-top: 140px;
}
.codingArea h2 {
    text-align: center;
    margin-bottom: 70px;
}
.codingArea .cloneCoding {
    position: relative;
}
.codingArea .cloneCoding:before {
    content: "";
    width: 100vw;
    height: 380px;
    position: absolute;
    top: calc(50% + 80px);
    left: 0;
    transform: translateY(-50%);
    background: linear-gradient(90deg, rgba(240,219,219,1) 0%, rgba(240, 219, 219, 0.2) 60%);
}
.codingArea .coding {
    width: 1400px;
    margin: 0 auto;
    display: flex;
}
.codingArea .coding .imgBox {
    width: 968px;
    height: 496px;
    position: relative;
}
.codingArea .coding .imgBox.portfolio:before {
    content: "";
    display: block;
    width: 35px;
    height: 45px;
    background: url("../images/mouse-hover.png") no-repeat center / cover;
    position: absolute;
    right: 160px;
    bottom: 120px;
    z-index: 999;
    animation: opacity 2s linear infinite;
}
.codingArea .coding .imgBox.portfolio .scroll .img:before {
    content: "";
    position: absolute;
    left: 172px;
    top: 24px;
    display: block;
    width: 621px;
    height: 385px;
    background: url("../images/cafe1.png") no-repeat top / 100%;
    transition: 2s;
}
.codingArea .coding .imgBox.portfolio .scroll:hover .img:before {
    background-position: bottom;
    transition: 2s;
}
.codingArea .coding .txtBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.codingArea.sec3 .coding .txtBox,
.codingArea.sec5 .coding .txtBox {
    margin-left: -40px;
}
.codingArea.sec4 .coding .txtBox {
    margin-left: 40px;
}
.codingArea .coding .txtBox > div {
    position: relative;
}
.codingArea .coding .txtBox .title {
    width: 500px;
    border-bottom: 1px solid  #BBBBBB;
    padding-bottom: 20px;
}
.codingArea .coding .txtBox .title strong {
    color: #6A6A6A;
}
.codingArea .coding .txtBox ul {
    padding: 20px 0;
    width: 500px;
    margin-bottom: 20px;
}
.codingArea .coding .txtBox ul li {
    line-height: 26px;
}
.codingArea .coding .txtBox ul li strong {
    text-transform: uppercase;
    width: 51px;
    display: inline-block;
    letter-spacing: 2px;
    font-weight: 600;
}
.codingArea .coding .txtBox ul li span {
    color: #6A6A6A;
    margin-left: 30px;
}
.codingArea .coding .txtBox .btn {
    display: inline-block;
}
.codingArea .coding .txtBox .styleBtn {
    margin-left: 20px;
}
.codingArea .coding .txtBox .btn a,
.codingArea .coding .txtBox .btn button {
    display: inline-block;
    width: 130px;
    line-height: 30px;
    background-color: #F0DBDB;
    border: 1px solid #581C1C;
    color: #581C1C;
    text-align: center;
    border-radius: 16px;
    box-shadow: 2px 2px 1px rgba(88, 28, 28, 0.25);
    transition: 0.3s;
    padding: 0;
    font-size: 16px;
}
.codingArea .coding .txtBox .btn a:hover,
.codingArea .coding .txtBox .btn button:hover {
    background-color: #581C1C;
    color: #fff;
    transition: 0.3s;
}
/* codingArea end (sec3,4,5) */


/* sec4 */
.codingArea.sec4 .cloneCoding:before {
    transform: translateY(-50%) rotate(180deg);
}



/* sec5 */
.codingArea.sec5 .coding .imgBox.portfolio .scroll .img:before {
    background-image: url("../images/busan1.png");
}


/* sec6 start */
.sec6 {
    position: relative;
    text-align: center;
}
.sec6 .sns {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
section .backCat {
    position: absolute;
    right: 0;
    bottom: -30px;
    animation: moveBack1 30s linear infinite;
}
section .backCat img {
    scale: 0.7;
    opacity: 0.9;
}
@keyframes moveBack1 {
    0% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(-100vw);
    }
}
.sec6 .backCloud1 {
    position: absolute;
    left: 13%;
    top: 16%;
    animation: moveBack2 5s linear infinite ;
}
.sec6 .backCloud2 {
    position: absolute;
    right: 13%;
    top: 20%;
    animation: moveBack3 5s linear infinite ;
}
.sec6 .backCloud3 {
    position: absolute;
    left: 4%;
    top: 46%;
    animation: moveBack2 5s linear infinite ;
}
.sec6 .backCloud4 {
    position: absolute;
    right: 4%;
    top: 50%;
    animation: moveBack3 5s linear infinite ;
}
@keyframes moveBack2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(70px);
    }
    0% {
        transform: translateY(0);
    }
}
@keyframes moveBack3 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-70px);
    }
    0% {
        transform: translateY(0);
    }
}
.sec6 h2 {
    margin-bottom: 70px;
}
.sec6 .imgBox ul {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin: 0 auto;
}
.sec6 .imgBox ul li {
    background-color: #fff;
    border-radius: 10px;
}
.sec6 .imgBox ul li button {
    border: none;
    width: 260px;
    height: 260px;
    opacity: 0.5;
    transition: 0.5s;
    border-radius: 10px;
    position: relative;
    background: url("../images/sns1.png") no-repeat center / cover;
}
.sec6 .imgBox ul li button.sns2 {background-image: url("../images/sns2.png")}
.sec6 .imgBox ul li button.sns3 {background-image: url("../images/sns3.png")}
.sec6 .imgBox ul li button.sns4 {background-image: url("../images/sns4.png")}
.sec6 .imgBox ul li button.sns5 {background-image: url("../images/sns5.png")}
.sec6 .imgBox ul li button.sns6 {background-image: url("../images/sns6.png")}
.sec6 .imgBox ul li button:hover {
    opacity: 1;
    transition: 0.5s;
    transform: translateY(-10px);
}
.sec6 .imgBox ul li button:hover:after {
    content: "";
    display: inline-block;
    width: 316px;
    height: 231px;
    position: absolute;
    right: -13px;
    top: -30px;
    transition: 0.5s;
    background: url("../images/choice.png") no-repeat center/ cover;
}
/* sec6 end */


.sec6:before,
.footer:before{
    content: "";
    display: inline-block;
    width: 140%;
    height: 100px;
    position: absolute;
    background-color: #93c492;
    left: 50%;
    bottom: -95px;
    transform: translateX(-50%);
    border-radius: 30%;
}


/* footer start */
.footer {
    text-align: center;
    position: relative;
}
.footer .inner {
    position: absolute;
    left: 50%;
    top: calc(50% - 10px);
    transform: translate(-50%, -50%);
}
.footer .footerLogo {
    margin: 40px 0 30px;
}
.footer .footerLogo img {
    scale: 0.8;
}
.footer .txt {
    margin-bottom: 60px;
}
.footer .txt p {
    font-size: 18px;
    line-height: 30px;
}
.footer .info {
    width: 700px;
    font-size: 20px;
    line-height: 50px;
    margin: 0 auto;
    border-radius: 25px;
}
.footer .info span {
    display: inline-block;
    position: relative;
}
.footer .info span:before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer .info.snsInfo {
    margin-bottom: 20px;
    background-color: #F5ECBA;
}
.footer .info.snsInfo span {
    padding-left: 45px;
}
.footer .info.snsInfo span:before {
    background: url("../images/kakao.png") no-repeat center / cover;
}
.footer .info.emailInfo {
    background-color: #F0DBDB;
}
.footer .info.emailInfo span {
    padding-left: 49px;
}
.footer .info.emailInfo span:before {
    height: 27px;
    background: url("../images/email.png") no-repeat center / cover;
}
section.footer .backCat:after {
    content: "본 페이지는 상업적 목적이 아닌 개인 포트폴리오용으로 제작되었습니다.";
    display: block;
    position: absolute;
    width: 275px;
    height: 70px;
    padding: 20px 25px 0 20px;
    box-sizing: border-box;
    transform: translate(-245px, -115px);
    background: url("../images/talk.png") no-repeat center/cover;
    line-height: 1.2;
    font-size: 14px;
}
/* footer end */


/* popup start */
body.popupOn {
    overflow: hidden;
}
body.popupOn .popupArea {
    display: block;
}
.popupArea {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: none;
}
.popupArea .snsBox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.65);
    display: none;
}
.popupArea .styleGuideBox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 800px;
    overflow: scroll;
    background-color: #fff;
}
.popupArea .styleGuideBox .styleGuide {
    width: 100%;
    display: none;
}
.popupArea .close {
    width: 30px;
    height: 30px;
    background: url("../images/close.png") no-repeat center / cover;
    transition: 0.3s;
    position: absolute;
    right: 3%;
    top: 3%;
}
.popupArea .close:hover {
    background-image: url("../images/close-color.png");
    transition: 0.3s;
}
/* popup end */


/* 디바이스 가로폭 변형 */
/*(해상도 1280 ~ 1719px)*/
@media all and (min-width:1280px) and (max-width:1629px) {
    .inner {
        width: 1200px;
    }
    header {
        background: black;
    }
    section {
        width: 100vw;
        height: 100vh;
    }
    h2 {
        font-size: 30px;
    }
    /*   sec1   */
    .sec1 .left {
        left: calc(-200px - 5%);
    }
    .sec1 .me {
        right: -5%;
    }
    .sec1 .bigTitle {
        transform: translate(-50%, -50%) scale(0.75);
    }
    /*   sec2   */
    .sec2 .inner {
        padding-top: 155px;
    }
    .sec2 .aboutMe {
        gap: 70px;
    }
    .sec2 .aboutMe .profileBox .profile {
        width: 288px;
        height: 372px;
    }
    .sec2 .aboutMe .profileBox .tag {
        width: 308px;
        flex-wrap: wrap;
        gap: 10px 20px;
        font-size: 18px;
    }
    .sec2 .aboutMe .aboutBox .about {
        margin-bottom: 30px;
    }
    .sec2 .aboutMe .aboutBox .about h2,
    .sec2 .aboutMe .aboutBox .education h2 {
        margin-bottom: 15px;
    }
    .sec2 .aboutMe .aboutBox .about p,
    .sec2 .aboutMe .aboutBox .education p {
        font-size: 20px;
        line-height: 35px;
    }
    .sec2 .skill {
        margin-top: 45px;
    }
    .sec2 .skill ul {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    .sec2 .skill ul li {
        line-height: 36px;
        font-size: 16px;
        border-radius: 10px;
    }
    .sec2 .skill ul li:after {
        height: 34px;
        border-radius: 8px;
        font-size: 15px;
    }
    /* codingArea (sec3,4,5) */
    .codingArea h2 {
        margin-bottom: 50px;
    }
    .codingArea .cloneCoding:before {
        top: calc(50% + 50px);
        height: 340px;
    }
    .codingArea .coding {
        width: 1200px;
    }
    .codingArea .coding .imgBox {
        transform: scale(0.8);
    }
    .codingArea .coding .txtBox {
        transform: scale(0.9);
        margin-top: 30px;
    }
    .codingArea.sec3 .coding .txtBox,
    .codingArea.sec5 .coding .txtBox {
        margin-left: -80px;
    }
    .codingArea .coding .imgBox {
        margin-left: -140px;
    }
    .codingArea.sec4 .coding .imgBox {
        margin-left: -150px;
    }
    .codingArea.sec5 .coding .imgBox {
        margin-left: -160px;
    }
    /*   sec6   */
    .sec6 h2 {
        margin-bottom: 40px;
    }
    .sec6 .imgBox ul {
        width: 760px;
        justify-content: space-between;
    }
    .sec6 .imgBox ul li button {
        width: 200px;
        height: 200px;
    }
    .sec6 .imgBox ul li button:hover:after {
        width: 315px;
        height: 230px;
        right: -74px;
        top: -30px;
    }
    .sec6 .backCloud1,
    .sec6 .backCloud2,
    .sec6 .backCloud3,
    .sec6 .backCloud4 {
        scale: 0.7;
        z-index: -9;
    }
    section .backCat {
        bottom: -44px;
    }
    section .backCat img {
        scale: 0.5;
    }
    /*   footer   */
    .footer .footerLogo {
        margin: 20px 0;
    }
    .footer .footerLogo img {
        scale: 0.6;
    }
    .footer .txt {
        margin-bottom: 40px;
    }
    .footer .txt p {
        font-size: 16px;
        line-height: 30px;
    }
    .footer .info {
        width: 600px;
        font-size: 16px;
        line-height: 40px;
        border-radius: 20px;
    }
    .footer .info span:before {
        width: 30px;
        height: 30px;
    }
    .footer .info.emailInfo span:before {
        height: 22px;
    }
    section.footer .backCat:after {
        width: 275px;
        height: 70px;
        transform: translate(-245px, -145px);
        line-height: 1.3;
        font-size: 14px;
        scale: 0.8;
    }
    /*   popupArea   */
    .popupArea .snsBox {
        transform: translate(-50%, -50%) scale(0.6);
    }
    .popupArea .styleGuideBox {
        width: 800px;
        height: 600px;
    }
}
/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/
@media (min-width:1024px) and (max-width:1279px) {
    .inner {
        width: 1000px;
    }
    h2 {
        font-size: 26px;
    }
    /*   header   */
    header {
        background: blue;
        padding: 2px 0;
    }
    header:before {
        height: 44px;
    }
    header .logo a {
        scale: 0.7;
    }
    header .menu ul {
        font-size: 18px;
    }
    /*   sec1   */
    .sec1 .left {
        left: calc(-200px - 10%);
        transform: translateY(-50%) scale(0.77);
    }
    .sec1 .me {
        right: -5%;
        transform: translateY(-50%) scale(0.75);
    }
    .sec1 .bigTitle {
        transform: translate(-50%, -50%) scale(0.65);
    }
    .sec1 .txtBox {
        font-size: 10px;
    }
    .sec1 .scroll {
        transform: translateX(-50%) scale(0.8);
        bottom: 20px;
    }

    /*   sec2   */
    .sec2 .aboutMe {
        gap: 70px;
    }
    .sec2 .aboutMe .profileBox .profile {
        width: 288px;
        height: 372px;
    }
    .sec2 .aboutMe .profileBox .tag {
        width: 308px;
        flex-wrap: wrap;
        gap: 10px 20px;
        font-size: 18px;
    }
    .sec2 .aboutMe .aboutBox .about {
        margin-bottom: 30px;
    }
    .sec2 .aboutMe .aboutBox .about h2,
    .sec2 .aboutMe .aboutBox .education h2 {
        margin-bottom: 15px;
    }
    .sec2 .aboutMe .aboutBox .about p,
    .sec2 .aboutMe .aboutBox .education p {
        font-size: 18px;
        line-height: 35px;
    }
    .sec2 .skill {
        margin-top: 45px;
    }
    .sec2 .skill ul {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    .sec2 .skill ul li {
        line-height: 30px;
        font-size: 16px;
        border-radius: 10px;
    }
    .sec2 .skill ul li:after {
        height: 28px;
        border-radius: 8px;
        font-size: 15px;
    }
    /*   codingArea   */
    .codingArea h2 {
        margin-bottom: 20px;
    }
    .codingArea .cloneCoding:before {
        top: calc(50% + 30px);
        height: 340px;
    }
    .codingArea .coding {
        width: 1000px;
    }
    .codingArea .coding .imgBox {
        transform: scale(0.7);
    }
    .codingArea .coding .txtBox {
        transform: scale(0.8);
        margin-top: 10px;
    }
    .codingArea.sec3 .coding .txtBox,
    .codingArea.sec5 .coding .txtBox {
        margin-left: -230px;
    }
    .codingArea .coding .imgBox {
        margin-left: -160px;
    }
    .codingArea.sec4 .coding .txtBox {
        margin-left: -20px;
    }
    .codingArea.sec4 .coding .imgBox {
        margin-left: -240px;
    }
    .codingArea.sec5 .coding .imgBox {
        margin-left: -190px;
    }
    /*   sec6   */
    .sec6 h2 {
        margin-bottom: 40px;
    }
    .sec6 .imgBox ul {
        width: 760px;
        justify-content: space-between;
    }
    .sec6 .imgBox ul li button {
        width: 200px;
        height: 200px;
    }
    .sec6 .imgBox ul li button:hover:after {
        width: 315px;
        height: 230px;
        right: -74px;
        top: -30px;
    }
    .sec6 .backCloud1,
    .sec6 .backCloud2,
    .sec6 .backCloud3,
    .sec6 .backCloud4 {
        scale: 0.7;
        z-index: -9;
    }
    section .backCat {
        bottom: -44px;
    }
    section .backCat img {
        scale: 0.5;
    }
    /*   footer   */
    .footer .footerLogo {
        margin: 20px 0;
    }
    .footer .footerLogo img {
        scale: 0.6;
    }
    .footer .txt {
        margin-bottom: 40px;
    }
    .footer .txt p {
        font-size: 16px;
        line-height: 30px;
    }
    .footer .info {
        width: 600px;
        font-size: 16px;
        line-height: 40px;
        border-radius: 20px;
    }
    .footer .info span:before {
        width: 30px;
        height: 30px;
    }
    .footer .info.emailInfo span:before {
        height: 22px;
    }
    section.footer .backCat:after {
        width: 275px;
        height: 70px;
        transform: translate(-245px, -145px);
        line-height: 1.3;
        font-size: 14px;
        scale: 0.8;
    }
    /*   popupArea   */
    .popupArea .snsBox {
        transform: translate(-50%, -50%) scale(0.5);
    }
    .popupArea .styleGuideBox {
        width: 700px;
        height: 500px;
    }

}

 /*테블릿 가로 (해상도 768px ~ 1023px)*/
@media (min-width:768px) and (max-width:1023px) {
    .inner {
        width: 750px;
    }
    h2 {
        font-size: 24px;
    }
    /*   header   */
    header {
        background: orange;
        padding: 3px 0;
    }
    header:before {
        height: 30px;
    }
    header .logo a {
        width: 94px;
        height: 24px;
    }
    header .menu ul {
        font-size: 16px;
    }
    /*   sec1   */
    .sec1 .left {
        left: calc(-200px - 10%);
        transform: translateY(-50%) scale(0.77);
    }
    .sec1 .me {
        right: -5%;
        transform: translateY(-50%) scale(0.75);
    }
    .sec1 .bigTitle {
        transform: translate(-50%, -50%) scale(0.65);
    }
    .sec1 .txtBox {
        font-size: 10px;
    }
    .sec1 .scroll {
        transform: translateX(-50%) scale(0.8);
        bottom: 20px;
    }

    /*   sec2   */
    .sec2 .inner {
        padding-top: 95px;
    }
    .sec2 .aboutMe {
        gap: 20px;
    }
    .sec2 .aboutMe .profileBox .profile {
        width: 237px;
        height: 297px;
        border-radius: 30px;
        border: 8px solid #BF6161;
        background-image: url("../images/seolminju3.png");
    }
    .sec2 .aboutMe .profileBox .tag {
        margin-top: 20px;
        width: 297px;
        flex-wrap: wrap;
        gap: 8px;
        font-size: 14px;
    }
    .sec2 .aboutMe .aboutBox .about {
        margin-bottom: 30px;
    }
    .sec2 .aboutMe .aboutBox .about h2,
    .sec2 .aboutMe .aboutBox .education h2 {
        margin-bottom: 15px;
    }
    .sec2 .aboutMe .aboutBox .about p,
    .sec2 .aboutMe .aboutBox .education p {
        font-size: 15px;
        line-height: 32px;
    }
    .sec2 .skill {
        margin-top: 30px;
    }
    .sec2 .skill ul {
        display: flex;
        justify-content: center;
        gap: 16px;
    }
    .sec2 .skill ul li {
        width: 100%;
        line-height: 30px;
        background-color: #BF6161;
        border: 1px solid #BF6161;
        box-sizing: border-box;
        font-size: 14px;
        color: #fff;
        text-align: center;
        border-radius: 10px;
        position: relative;
    }
    .sec2 .skill ul li:after {
        height: 28px;
        border-radius: 8px;
        font-size: 15px;
    }
    /*   codingArea   */
    .codingArea {
        padding-top: 70px;
    }
    .codingArea h2 {
        margin-bottom: 0;
    }
    .codingArea .cloneCoding:before {
        top: calc(50% + 10px);
        height: 240px;
    }
    .codingArea .coding {
        width: 750px;
    }
    .codingArea .coding .imgBox {
        transform: scale(0.5);
    }
    .codingArea .coding .txtBox {
        transform: scale(0.75);
        margin-top: 0;
    }
    .codingArea.sec3 .coding .txtBox,
    .codingArea.sec5 .coding .txtBox {
        margin-left: -350px;
    }
    .codingArea .coding .imgBox {
        margin-left: -250px;
    }
    .codingArea.sec4 .coding .txtBox {
        margin-left: -40px;
    }
    .codingArea.sec4 .coding .imgBox {
        margin-left: -390px;
    }
    .codingArea.sec5 .coding .imgBox {
        margin-left: -290px;
    }
    /*   sec6   */
    .sec6 h2 {
        margin-bottom: 40px;
    }
    .sec6 .imgBox ul {
        width: 600px;
        justify-content: center;
        gap: 20px 60px;
    }
    .sec6 .imgBox ul li button {
        width: 160px;
        height: 160px;
    }
    .sec6 .imgBox ul li button:hover:after {
        width: 250px;
        height: 182px;
        left: -34px;
        top: -22px;
        z-index: 99999;
    }
    .sec6 .backCloud1,
    .sec6 .backCloud2,
    .sec6 .backCloud3,
    .sec6 .backCloud4 {
        scale: 0.5;
        z-index: -9;
    }
    .sec6 .backCloud1 {left: 3%;}
    .sec6 .backCloud2 {right: 3%;}
    .sec6 .backCloud3 {left: -2%;}
    .sec6 .backCloud4 {right: -2%;}
    section .backCat {
        bottom: -44px;
    }
    section .backCat img {
        scale: 0.5;
    }
    /*   footer   */
    .footer .footerLogo {
        margin: 15px 0;
    }
    .footer .footerLogo img {
        scale: 0.6;
    }
    .footer .txt {
        margin-bottom: 20px;
    }
    .footer .txt p {
        font-size: 14px;
        line-height: 26px;
    }
    .footer .info {
        width: 500px;
        font-size: 14px;
        line-height: 30px;
        border-radius: 20px;
    }
    .footer .info span:before {
        width: 26px;
        height: 26px;
    }
    .footer .info.snsInfo span {
        padding-left: 32px;
    }
    .footer .info.emailInfo span {
        padding-left: 34px;
    }
    .footer .info.emailInfo span:before {
        height: 20px;
    }
    section.footer .backCat:after {
        width: 275px;
        height: 70px;
        transform: translate(-245px, -145px);
        line-height: 1.3;
        font-size: 14px;
        scale: 0.8;
    }
    /*   popupArea   */
    .popupArea .snsBox {
        transform: translate(-50%, -50%) scale(0.3);
    }
}

 /*모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
/*@media (min-width:480px) and (max-width:767px) {*/
/*    .inner {*/
/*        width: 470px;*/
/*    }*/
/*    h2 {*/
/*        font-size: 20px;*/
/*    }*/
/*    .cover {*/
/*        position: relative;*/
/*        background: url("../images/back-cat.jpg") repeat center / 100% fixed;*/
/*    }*/
/*    !*   header   *!*/
/*    header {*/
/*        background: green;*/
/*        padding: 10px 0;*/
/*    }*/
/*    header:before {*/
/*        height: 40px;*/
/*    }*/
/*    header .inner {*/
/*        display: inline;*/
/*        justify-content: space-between;*/
/*    }*/
/*    header .logo {*/
/*        display: none;*/
/*    }*/
/*    header .menu ul {*/
/*        font-size: 16px;*/
/*        height: 20px;*/
/*    }*/
/*    !*   sec1   *!*/

/*    .sec1 .left {*/
/*        left: -400px;*/
/*        top: calc(50% - 20px);*/
/*        transform: translateY(-50%) scale(0.77);*/
/*    }*/
/*    .sec1 .left .catFoot1 {*/
/*        left: 560px;*/
/*        bottom: 250px;*/
/*    }*/
/*    .sec1 .me {*/
/*        top: 30px;*/
/*        right: -130px;*/
/*        transform: translateY(0) scale(0.7);*/
/*    }*/
/*    .sec1 .me:before {*/
/*        left: 0;*/
/*        top: 260px;*/
/*    }*/
/*    .sec1 .me .twinkle {*/
/*        top: 430px;*/
/*        right: 400px;*/
/*    }*/
/*    .sec1 .bigTitle {*/
/*        top: -100px;*/
/*        transform: translateX(-50%) scale(0.5);*/
/*    }*/
/*    .sec1 .txtBox {*/
/*        font-size: 10px;*/
/*    }*/
/*    .sec1 .scroll {*/
/*        transform: translateX(-50%) scale(0.72);*/
/*        bottom: 16px;*/
/*    }*/

/*    !*   sec2   *!*/
/*    .sec2 .inner {*/

/*    }*/
/*    .sec2 .aboutMe {*/
/*        display: inline;*/
/*        gap: 30px;*/
/*    }*/
/*    .sec2 .aboutMe .profileBox {*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        gap: 20px;*/
/*    }*/
/*    .sec2 .aboutMe .profileBox .profile {*/
/*        width: 180px;*/
/*        height: 230px;*/
/*        border-radius: 30px;*/
/*        border: 5px solid #BF6161;*/
/*        margin: 0;*/
/*        background-image: url("../images/seolminju3.png");*/
/*    }*/
/*    .sec2 .aboutMe .profileBox .tag {*/
/*        margin: 20px 0 0;*/
/*        width: 80px;*/
/*        flex-wrap: wrap;*/
/*        gap: 10px;*/
/*        font-size: 15px;*/
/*        justify-content: left;*/
/*    }*/
/*    .sec2 .aboutMe .aboutBox {*/
/*        text-align: center;*/
/*        margin-top: 30px;*/
/*    }*/
/*    .sec2 .aboutMe .aboutBox .about {*/
/*        margin-bottom: 10px;*/
/*    }*/
/*    .sec2 .aboutMe .aboutBox .about h2,*/
/*    .sec2 .aboutMe .aboutBox .education h2 {*/
/*        margin-bottom: 5px;*/
/*    }*/
/*    .sec2 .aboutMe .aboutBox .about p,*/
/*    .sec2 .aboutMe .aboutBox .education p {*/
/*        font-size: 14px;*/
/*        line-height: 27px;*/
/*    }*/
/*    .sec2 .skill {*/
/*        margin-top: 40px;*/
/*    }*/
/*    .sec2 .skill ul {*/
/*        display: flex;*/
/*        flex-wrap: wrap;*/
/*        justify-content: center;*/
/*        gap: 20px;*/
/*    }*/
/*    .sec2 .skill ul li {*/
/*        width: 110px;*/
/*        height: 45px;*/
/*        line-height: 18px;*/
/*        background-color: #BF6161;*/
/*        border: 1px solid #BF6161;*/
/*        box-sizing: border-box;*/
/*        font-size: 13px;*/
/*        color: #fff;*/
/*        text-align: center;*/
/*        border-radius: 10px;*/
/*        position: relative;*/
/*    }*/
/*    .sec2 .skill ul li:hover {*/
/*        color: #fff;*/
/*    }*/
/*    .sec2 .skill ul li:after {*/
/*        width: 106px;*/
/*        height: 18px;*/
/*        left: 1px;*/
/*        top: 24px;*/
/*        border-radius: 8px;*/
/*        font-size: 12px;*/
/*        color: #BF6161;*/
/*        background: #fff;*/
/*    }*/
/*    .sec2 .skill ul li:before {*/
/*        content: "80%";*/
/*        display: block;*/
/*        width: 80%;*/
/*        height: 18px;*/
/*        background: rgba(191, 97, 97, 0.5);*/
/*        border-radius: 8px;*/
/*        text-align: left;*/
/*        padding-left: 5px;*/
/*        box-sizing: border-box;*/
/*        position: absolute;*/
/*        left: 1px;*/
/*        bottom: 1px;*/
/*        z-index: 99;*/
/*    }*/
/*    .sec2 .skill ul li.skill2:before,*/
/*    .sec2 .skill ul li.skill5:before{*/
/*        content: "70%";*/
/*        width: 70%;*/
/*    }*/
/*    .sec2 .skill ul li.skill3:before{*/
/*        content: "90%";*/
/*        width: 90%;*/
/*    }*/
/*    .sec2 .skill ul li.skill6:before{*/
/*        content: "50%";*/
/*        width: 50%;*/
/*    }*/
/*    .sec2 .skill ul li:hover:after,*/
/*    .sec2 .skill ul li.skill2:hover:after,*/
/*    .sec2 .skill ul li.skill3:hover:after,*/
/*    .sec2 .skill ul li.skill4:hover:after,*/
/*    .sec2 .skill ul li.skill5:hover:after{*/
/*        content: "";*/
/*        width: 106px;*/
/*    }*/
/*    !*   codingArea   *!*/

/*    !*   sec6   *!*/
/*    .sec6 h2 {*/
/*        margin-bottom: 40px;*/
/*    }*/
/*    .sec6 .imgBox ul {*/
/*        width: 600px;*/
/*        justify-content: center;*/
/*        gap: 20px 60px;*/
/*    }*/
/*    .sec6 .imgBox ul li button {*/
/*        width: 160px;*/
/*        height: 160px;*/
/*    }*/
/*    .sec6 .imgBox ul li button:hover:after {*/
/*        width: 250px;*/
/*        height: 182px;*/
/*        left: -34px;*/
/*        top: -22px;*/
/*        z-index: 99999;*/
/*    }*/
/*    .sec6 .backCloud1,*/
/*    .sec6 .backCloud2,*/
/*    .sec6 .backCloud3,*/
/*    .sec6 .backCloud4 {*/
/*        scale: 0.5;*/
/*        z-index: -9;*/
/*    }*/
/*    .sec6 .backCloud1 {left: 3%;}*/
/*    .sec6 .backCloud2 {right: 3%;}*/
/*    .sec6 .backCloud3 {left: -2%;}*/
/*    .sec6 .backCloud4 {right: -2%;}*/
/*    section .backCat {*/
/*        bottom: -44px;*/
/*    }*/
/*    section .backCat img {*/
/*        scale: 0.5;*/
/*    }*/
/*    !*   footer   *!*/
/*    .footer .footerLogo {*/
/*        margin: 15px 0;*/
/*    }*/
/*    .footer .footerLogo img {*/
/*        scale: 0.6;*/
/*    }*/
/*    .footer .txt {*/
/*        margin-bottom: 20px;*/
/*    }*/
/*    .footer .txt p {*/
/*        font-size: 14px;*/
/*        line-height: 26px;*/
/*    }*/
/*    .footer .info {*/
/*        width: 500px;*/
/*        font-size: 14px;*/
/*        line-height: 30px;*/
/*        border-radius: 20px;*/
/*    }*/
/*    .footer .info span:before {*/
/*        width: 26px;*/
/*        height: 26px;*/
/*    }*/
/*    .footer .info.snsInfo span {*/
/*        padding-left: 32px;*/
/*    }*/
/*    .footer .info.emailInfo span {*/
/*        padding-left: 34px;*/
/*    }*/
/*    .footer .info.emailInfo span:before {*/
/*        height: 20px;*/
/*    }*/
/*    section.footer .backCat:after {*/
/*        width: 275px;*/
/*        height: 70px;*/
/*        transform: translate(-245px, -145px);*/
/*        line-height: 1.3;*/
/*        font-size: 14px;*/
/*        scale: 0.8;*/
/*    }*/
/*    !*   popupArea   *!*/
/*    .popupArea .snsBox {*/
/*        transform: translate(-50%, -50%) scale(0.3);*/
/*    }*/
/*}*/

 /*모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
/*@media all and (min-width:375px) and (max-width:667px) {*/
/*    .inner {*/
/*        width: 470px;*/
/*    }*/
/*    h2 {*/
/*        font-size: 20px;*/
/*    }*/
/*    .cover {*/
/*        position: relative;*/
/*        background: url("../images/back-cat.jpg") repeat center / 100% fixed;*/
/*    }*/
/*    !*   header   *!*/
/*    header {*/
/*        background: green;*/
/*        padding: 10px 0;*/
/*    }*/
/*    header:before {*/
/*        height: 40px;*/
/*    }*/
/*    header .inner {*/
/*        display: inline;*/
/*        justify-content: space-between;*/
/*    }*/
/*    header .logo {*/
/*        display: none;*/
/*    }*/
/*    header .menu ul {*/
/*        font-size: 16px;*/
/*        height: 20px;*/
/*    }*/
/*    !*   sec1   *!*/

/*    .sec1 .left {*/
/*        left: -400px;*/
/*        top: calc(50% - 20px);*/
/*        transform: translateY(-50%) scale(0.77);*/
/*    }*/
/*    .sec1 .left .catFoot1 {*/
/*        left: 560px;*/
/*        bottom: 250px;*/
/*    }*/
/*    .sec1 .me {*/
/*        top: 30px;*/
/*        right: -130px;*/
/*        transform: translateY(0) scale(0.7);*/
/*    }*/
/*    .sec1 .me:before {*/
/*        left: 0;*/
/*        top: 260px;*/
/*    }*/
/*    .sec1 .me .twinkle {*/
/*        top: 430px;*/
/*        right: 400px;*/
/*    }*/
/*    .sec1 .bigTitle {*/
/*        top: -100px;*/
/*        transform: translateX(-50%) scale(0.5);*/
/*    }*/
/*    .sec1 .txtBox {*/
/*        font-size: 10px;*/
/*    }*/
/*    .sec1 .scroll {*/
/*        transform: translateX(-50%) scale(0.72);*/
/*        bottom: 16px;*/
/*    }*/

/*    !*   sec2   *!*/
/*    .sec2 .inner {*/
/*    }*/
/*    .sec2 .aboutMe {*/
/*        display: inline;*/
/*        gap: 30px;*/
/*    }*/
/*    .sec2 .aboutMe .profileBox {*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        gap: 20px;*/
/*    }*/
/*    .sec2 .aboutMe .profileBox .profile {*/
/*        width: 180px;*/
/*        height: 230px;*/
/*        border-radius: 30px;*/
/*        border: 5px solid #BF6161;*/
/*        margin: 0;*/
/*        background-image: url("../images/seolminju3.png");*/
/*    }*/
/*    .sec2 .aboutMe .profileBox .tag {*/
/*        margin: 20px 0 0;*/
/*        width: 80px;*/
/*        flex-wrap: wrap;*/
/*        gap: 10px;*/
/*        font-size: 15px;*/
/*        justify-content: left;*/
/*    }*/
/*    .sec2 .aboutMe .aboutBox {*/
/*        text-align: center;*/
/*        margin-top: 30px;*/
/*    }*/
/*    .sec2 .aboutMe .aboutBox .about {*/
/*        margin-bottom: 10px;*/
/*    }*/
/*    .sec2 .aboutMe .aboutBox .about h2,*/
/*    .sec2 .aboutMe .aboutBox .education h2 {*/
/*        margin-bottom: 5px;*/
/*    }*/
/*    .sec2 .aboutMe .aboutBox .about p,*/
/*    .sec2 .aboutMe .aboutBox .education p {*/
/*        font-size: 14px;*/
/*        line-height: 27px;*/
/*    }*/
/*    .sec2 .skill {*/
/*        margin-top: 40px;*/
/*    }*/
/*    .sec2 .skill ul {*/
/*        display: flex;*/
/*        flex-wrap: wrap;*/
/*        justify-content: center;*/
/*        gap: 20px;*/
/*    }*/
/*    .sec2 .skill ul li {*/
/*        width: 110px;*/
/*        height: 45px;*/
/*        line-height: 18px;*/
/*        background-color: #BF6161;*/
/*        border: 1px solid #BF6161;*/
/*        box-sizing: border-box;*/
/*        font-size: 13px;*/
/*        color: #fff;*/
/*        text-align: center;*/
/*        border-radius: 10px;*/
/*        position: relative;*/
/*    }*/
/*    .sec2 .skill ul li:hover {*/
/*        color: #fff;*/
/*    }*/
/*    .sec2 .skill ul li:after {*/
/*        width: 106px;*/
/*        height: 18px;*/
/*        left: 1px;*/
/*        top: 24px;*/
/*        border-radius: 8px;*/
/*        font-size: 12px;*/
/*        color: #BF6161;*/
/*        background: #fff;*/
/*    }*/
/*    .sec2 .skill ul li:before {*/
/*        content: "80%";*/
/*        display: block;*/
/*        width: 80%;*/
/*        height: 18px;*/
/*        background: rgba(191, 97, 97, 0.5);*/
/*        border-radius: 8px;*/
/*        text-align: left;*/
/*        padding-left: 5px;*/
/*        box-sizing: border-box;*/
/*        position: absolute;*/
/*        left: 1px;*/
/*        bottom: 1px;*/
/*        z-index: 99;*/
/*    }*/
/*    .sec2 .skill ul li.skill2:before,*/
/*    .sec2 .skill ul li.skill5:before{*/
/*        content: "70%";*/
/*        width: 70%;*/
/*    }*/
/*    .sec2 .skill ul li.skill3:before{*/
/*        content: "90%";*/
/*        width: 90%;*/
/*    }*/
/*    .sec2 .skill ul li.skill6:before{*/
/*        content: "50%";*/
/*        width: 50%;*/
/*    }*/
/*    .sec2 .skill ul li:hover:after,*/
/*    .sec2 .skill ul li.skill2:hover:after,*/
/*    .sec2 .skill ul li.skill3:hover:after,*/
/*    .sec2 .skill ul li.skill4:hover:after,*/
/*    .sec2 .skill ul li.skill5:hover:after{*/
/*        content: "";*/
/*        width: 106px;*/
/*    }*/
/*    !*   codingArea   *!*/

/*    !*   sec6   *!*/
/*    .sec6 h2 {*/
/*        margin-bottom: 40px;*/
/*    }*/
/*    .sec6 .imgBox ul {*/
/*        width: 600px;*/
/*        justify-content: center;*/
/*        gap: 20px 60px;*/
/*    }*/
/*    .sec6 .imgBox ul li button {*/
/*        width: 160px;*/
/*        height: 160px;*/
/*    }*/
/*    .sec6 .imgBox ul li button:hover:after {*/
/*        width: 250px;*/
/*        height: 182px;*/
/*        left: -34px;*/
/*        top: -22px;*/
/*        z-index: 99999;*/
/*    }*/
/*    .sec6 .backCloud1,*/
/*    .sec6 .backCloud2,*/
/*    .sec6 .backCloud3,*/
/*    .sec6 .backCloud4 {*/
/*        scale: 0.5;*/
/*        z-index: -9;*/
/*    }*/
/*    .sec6 .backCloud1 {left: 3%;}*/
/*    .sec6 .backCloud2 {right: 3%;}*/
/*    .sec6 .backCloud3 {left: -2%;}*/
/*    .sec6 .backCloud4 {right: -2%;}*/
/*    section .backCat {*/
/*        bottom: -44px;*/
/*    }*/
/*    section .backCat img {*/
/*        scale: 0.5;*/
/*    }*/
/*    !*   footer   *!*/
/*    .footer .footerLogo {*/
/*        margin: 15px 0;*/
/*    }*/
/*    .footer .footerLogo img {*/
/*        scale: 0.6;*/
/*    }*/
/*    .footer .txt {*/
/*        margin-bottom: 20px;*/
/*    }*/
/*    .footer .txt p {*/
/*        font-size: 14px;*/
/*        line-height: 26px;*/
/*    }*/
/*    .footer .info {*/
/*        width: 500px;*/
/*        font-size: 14px;*/
/*        line-height: 30px;*/
/*        border-radius: 20px;*/
/*    }*/
/*    .footer .info span:before {*/
/*        width: 26px;*/
/*        height: 26px;*/
/*    }*/
/*    .footer .info.snsInfo span {*/
/*        padding-left: 32px;*/
/*    }*/
/*    .footer .info.emailInfo span {*/
/*        padding-left: 34px;*/
/*    }*/
/*    .footer .info.emailInfo span:before {*/
/*        height: 20px;*/
/*    }*/
/*    section.footer .backCat:after {*/
/*        width: 275px;*/
/*        height: 70px;*/
/*        transform: translate(-245px, -145px);*/
/*        line-height: 1.3;*/
/*        font-size: 14px;*/
/*        scale: 0.8;*/
/*    }*/
/*    !*   popupArea   *!*/
/*    .popupArea .snsBox {*/
/*        transform: translate(-50%, -50%) scale(0.3);*/
/*    }*/
/*}*/

/*!* 모바일 세로 (해상도 ~ 479px)*!*/
/*@media (max-width:479px) {*/

/*}*/