@import "common.css";

/*brand*/
.brand {
    height: 700px;
    font-family: 'GongGothicMedium' ,sans-serif;
    text-align: center;
}
.brandTextBox {
    height: 420px;
    color: #EAE5D8;
    background: linear-gradient(180deg, rgba(99,59,45,1) 60%, rgba(234,229,216,1) 60%);
    position: relative;
}
.brand .text {
    padding-top: 38px;
}
.brand .text strong {
    font-size: 42px;
}
.brand .text p {
    font-size: 24px;
    white-space: pre-wrap;
    margin-top: 20px;
    line-height: 30px;
}
.brand .videoBox {
    width: 1000px;
    height: 500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -270px;
    border-radius: 30px;
    overflow: hidden;
}
.brand .videoBox:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(40, 26, 20, 0.36);
}
.brand .videoBox video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.brand .videoBox button {
    width: 60px;
    height: 60px;
    position: absolute;
    background: transparent;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: transparent;
    cursor: pointer;
    display: none;
    padding: 0;
}
.brand .videoBox button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.brand .videoBox:hover button {
    display: block;
}

/*brandInfoBox*/
.brandInfoBox {
    margin-top: 93px;
}
.brandInfoBox .brandInfo {
    text-align: center;
}
.brandInfoBox .brandInfo .circleImg {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 20px -20px 0px #A59C86;
}
.brandInfoBox .brandInfo .circleImg img {}
.brandInfoBox .brandInfo .info {
    margin-top: 63px;
}
.brandInfoBox .brandInfo .info strong {
    font-size: 24px;
    white-space: pre-wrap;
    line-height: 1.2;
}
.brandInfoBox .brandInfo .info table {
    margin: 30px auto 0;
    width: 700px;
    text-align: left;
    font-size: 19px;
}
.brandInfoBox .brandInfo .info table colgroup col:nth-child(1) {
    width: 168px;
}
.brandInfoBox .brandInfo .info table tr {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #8E8E8E;
}
.brandInfoBox .brandInfo .info table tr:nth-child(1) {
    border-top: 2px solid black;
}
.brandInfoBox .brandInfo .info table tr:last-child {
    border-bottom: 1px solid black;
}
.brandInfoBox .brandInfo .info table tr th {
    padding-left: 15px;
    box-sizing: border-box;
}

/*infoTextBox*/
.infoTextBox {
    margin-top: 50px;
    padding: 160px 0;
    position: relative;
    overflow: hidden;
}
.infoTextBox:before {
    content: "";
    display: block;
    width: 6px;
    height: 1324px;
    background: url("../images/brand-line.png");
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}
.infoTextBox .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 92px;
}
.infoTextBox .item:last-child {
    margin-bottom: 0;
}
.infoTextBox .textBox {
    width: 600px;
    height: 100%;
}
.infoTextBox .textBox .title {
    font-family: 'GongGothicMedium' ,sans-serif;
    font-size: 30px;
}
.infoTextBox .textBox .infoText {
    margin-top: 20px;
}
.infoTextBox .textBox .infoText p {
    font-size: 18px;
    line-height: 30px;
    white-space: pre-wrap;
}
.infoTextBox .imgBox {
    width: 600px;
    height: 280px;
    border-radius: 20px;
    overflow: hidden;
}
.infoTextBox .imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* infoText - scroll animation */
.infoTextBox .item{
    transform: translateY(100%);
    opacity: 0;
}
.infoTextBox .item.ani {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s;
}

/*contents*/

.contents {
    background: #F5F4F2;
    padding: 100px 0;
    text-align: center;
}
.contents ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    /*width: 980px;*/
    margin: 0 auto;
    gap: 30px 100px;
}

.contents ul li .circleIcon {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 4px 4px rgb(118, 92, 78, 0.5);
    margin: 0 auto;
}
.contents ul li .title {
    font-family: 'GongGothicMedium' ,sans-serif;
    font-size: 30px;
    margin-top: 20px;
}
.contents ul li .text strong {
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin: 25px 0 15px;
}
.contents ul li .text p {
    font-size: 18px;
    line-height: 25px;
}

/* contents - scroll animation */

.contents ul li {
    font-size: 0;
    width: 255px;
    transform: translateY(-150px);
    opacity: 0;
    transition: 0.6s;
    cursor: pointer;
}
.contents ul li:hover {
    animation: hoverAni 2s linear infinite;
}
@keyframes hoverAni {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}
.contents ul li:nth-child(1),
.contents ul li:nth-child(4){
    transition-delay: 0.2s;
}
.contents ul li:nth-child(2) {
    transition-delay: 0.4s;
}
.contents ul li:nth-child(3),
.contents ul li:nth-child(5){
    transition-delay: 0.6s;
}
.contents ul li.on {
    transform: translateY(0);
    opacity: 1;
}
.contents ul li:nth-child(3) {
    margin-right: 0;
}