@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body.popupOn {
    overflow: hidden;
}
body.popupOn .popupArea {
    display: block;
}
.popupArea {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}
.popupArea .loginArea {
    margin: 200px auto;
    background: white;
    width: 800px;
    height: 500px;
    border-radius: 50px;
    text-align: center;
    padding: 80px 0;
    box-sizing: border-box;
    position: relative;
}
.popupArea .loginArea h2 {
    font-size: 40px;
    font-weight: 900;
}
.popupArea .loginArea form input {
    width: 500px;
    height: 50px;
    border-radius: 25px;
    border: transparent;
    font-size: 16px;
    font-family: 'NanumSquare', sans-serif;
    cursor: pointer;
}
.popupArea .loginArea form input:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

}
.popupArea .loginArea form #userId,
.popupArea .loginArea form #userPw {
    padding-left: 20px;
    background: #eee;
    box-sizing: border-box;
}
.popupArea .loginArea form #userId { margin: 40px 0 15px }
.popupArea .loginArea form #login {
    background: #AC2D2D;
    color: #fff;
    margin-top: 30px;
    cursor: pointer;
}
.popupArea .loginArea form #login:hover {
    background: #801d1d;
}
.popupArea .loginArea div {
    font-size: 0;
    margin-top: 20px;
}
.popupArea .loginArea div a {
    font-size: 15px;
}
.popupArea .loginArea div a:hover {
    border-bottom: 1px solid black;
    /*font-weight: 700;*/
}
.popupArea .loginArea div a:nth-child(1) {
    margin-right: 20px;
}
.popupArea .loginArea .close {
    width: 24px;
    height: 24px;
    background: url("../images/ico-close.png") no-repeat center/cover;
    position: absolute;
    right: 40px;
    top: 10px;
    cursor: pointer;
}


.inner {
    width: 1300px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: 'NanumSquare', sans-serif;
}

/* header */
header .subGnb {
    float: right;
}
header .subGnb > ul {
    display: flex;
    padding: 10px 0;
}
header .subGnb ul li {
    width: 70px;
    text-align: center;
}
header .subGnb ul li a{
    color: #412B20;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
header .subGnb ul li a:hover {
    font-weight: 700;
    color: #AC2D2D;
}
header .subGnb ul .language ul {
    display: none;
    position: absolute;
}
header .subGnb ul .language:hover ul {
    display: block;
}
header .subGnb ul .language ul li {
    margin-top: 10px;
}
header .logo {
    text-align: center;
    padding: 40px 0 28px;
}
header .mainGnb {}
header .mainGnb .mainMenu {
    display: flex;
}
header .mainGnb .mainMenu li {
    width: 100%;
    text-align: center;
    position: relative;
}
header .mainGnb .mainMenu > li > a {
    display: block;
    color: #412B20;
    font-weight: 900;
    font-size: 20px;
    padding: 10px 0;
}
header .mainGnb .mainMenu .subMenu {
    width: 100%;
    background: #EAE5D8;
    padding: 10px 0;
    display: none;
    border-radius: 0 0 10px 10px;
    z-index: 10;
    position: absolute;
    top: 40px;
    left: 0;
}
header .mainGnb .mainMenu .subMenu li a {
    display: block;
    padding: 10px 0;
    width: 100%;
    font-size: 18px;
    color: #412B20;
    /*transition: 0.5s;*/
}
header .mainGnb .mainMenu > li:hover > ul{
    display: block;
}
header .mainGnb .mainMenu > li:hover > a {
    background: #EAE5D8;
    border-radius: 10px 10px 0 0;
}
header .mainGnb .mainMenu > li:last-child:hover > a {
    border-radius: 10px;
}
header .mainGnb .mainMenu li .subMenu li a:hover {
    background: rgba(0, 0, 0, 0.1);
}


/*footer*/
footer {
    text-align: center;
    padding: 100px 0;
    border-top: 1px solid #eee;
}
footer .topFooter {}
footer .topFooter .logo {
    width: 65px;
    height: 83px;
    background: url("../images/logo.png") no-repeat center / cover;
    margin: 0 auto 20px;
}
footer .topFooter ul {
}
footer .topFooter ul li {
    display: inline-block;
    margin-right: 20px;
}
footer .topFooter ul li:last-child {
    margin-right: 0;
}
footer .topFooter ul li a {
    font-weight: 700;
    color: #412B20;
}
footer .topFooter ul li a:hover {
    border-bottom: 1px solid #412B20;
}
footer .btmFooter {
    margin-top: 50px;
}
footer .btmFooter .centerNumInfo {
    margin-bottom: 30px;
    color: #383838;
}
footer .btmFooter .centerNumInfo div {
    display: inline-block;
    vertical-align: middle;
}
footer .btmFooter .centerNumInfo .centerNum {
    font-size: 20px;
    position: relative;
    padding-left: 30px;
    margin-right: 15px;
    font-weight: 700;
}
footer .btmFooter .centerNumInfo .centerInfo {
    text-align: left;
}
footer .btmFooter .centerNumInfo .centerNum:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url("../images/call-20.png") no-repeat center / cover;
    position: absolute;
    left: 0;
    top: 0;
}
footer .btmFooter .centerNumInfo .centerInfo p {
    line-height: 25px;
}
footer .btmFooter .companyInfo {}
footer .btmFooter .companyInfo li {
    display: inline-block;
    margin-right: 20px;
    color: #646464;
}
footer .btmFooter .companyInfo li:last-child {
    margin-right: 0;
}

