@import "common.css";


/*   cateArea   */
.cateArea .cateTitle {background: url("../images/store-menu.jpg") no-repeat center/cover;}
.cateArea .cateTitle h2 {
    height: 230px;
    font-family: 'GongGothicMedium', sans-serif;
    font-size: 40px;
    color: #fff;
    text-align: center;
    line-height: 230px;
}
.cateArea .cateMenu {text-align: center;}
.cateArea .cateMenu ul {
    font-size: 0;
    display: flex;
    justify-content: center;
}
.cateArea .cateMenu ul li a {
    display: block;
    font-size: 20px;
    font-weight: 600;
    width: 160px;
    padding: 12px 0;
}
.cateArea .cateMenu ul li a:hover {color: #633B2D;}
.cateArea .cateMenu .menuProgress {
    height: 5px;
    background: #E4E4E4;
}
.cateArea .cateMenu .menuProgress .menuBarInner {
    width: 320px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}
.cateArea .cateMenu .menuProgress .menuBar {
    width: 160px;
    height: 5px;
    background: #000;
    position: absolute;
    right: 0;
}

/*   inq-titleBox   */
.inq {padding: 80px 0;}
.titleBox {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 30px;
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}
.titleBox:after {
    content: "";
    position: absolute;
    width: 100px;
    height: 5px;
    background: #000;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

/*   inq-inqBox   */
.inq .inqBox {
    width: 900px;
    margin: 0 auto 80px;
    padding: 70px;
    background: #EAE5D8;
    border-radius: 30px;
    box-sizing: border-box;
}
.inq .inqBox div {margin-bottom: 25px;}
.inq .inqBox div p {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}
.inq .inqBox div input,
.inq .inqBox div select,
.inq .inqBox .inqTxt TEXTAREA {
    width: 100%;
    height: 45px;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'NanumSquare', sans-serif;
    border: 1px solid #ddd;
    cursor: pointer;
}
.inq .inqBox div input:hover,
.inq .inqBox div select:hover,
.inq .inqBox .inqTxt TEXTAREA:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.inq .inqBox div p span {color: #AC2D2D;}
.inq .inqBox .store input,
.inq .inqBox .checkBox input {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}
.inq .inqBox .store input:hover,
.inq .inqBox .checkBox input:hover {
    box-shadow: none;
}
.inq .inqBox .store label {
    line-height: 20px;
}
.inq .inqBox .area {font-size: 0;}
.inq .inqBox .area select {
    display: inline-block;
    width: 48%;
    margin-right: 30px;
}
.inq .inqBox .area select.area2 {
    margin-right: 0;
}
.inq .inqBox .inqTxt TEXTAREA {
    height: 200px;
    padding-top: 10px;
}
.inq .inqBox .checkBox label {
    line-height: 24px;
}
.inq .inqBox .checkBox label a {
    border-bottom: 1px solid black;
    font-weight: 700;
}
.inq .inqBox .checkBox label a:hover {
    color: #AC2D2D;
    border-color: #AC2D2D;;
}
.inq .inqBox .button {text-align: center;}
.inq .inqBox .button button {
    background: #AC2D2D;
    width: 168px;
    height: 50px;
    color: #fff;
    text-align: center;
    border: transparent;
    font-size: 16px;
    font-family: 'NanumSquare', sans-serif;
    cursor: pointer;
}
.inq .inqBox .button button:hover {background: #801d1d;}

/*   inq-process   */
.process .titleBox {
    font-size: 32px;
    color: #AC2D2D;;
}
.process .titleBox:after {background: #AC2D2D;}
.process .processBox .item li {
    width: 230px;
    height: 100px;
    text-align: center;
    padding: 20px;
    border: 1px solid #AC2D2D;
    box-sizing: border-box;
    border-radius: 20px;
    font-weight: 700;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}
.process .processBox .item li strong {color: #AC2D2D;}
.process .processBox .item li p {
    margin-top: 20px;
    font-size: 20px;
}
.process .processBox .telNumber {
    text-align: center;
    margin-top: 50px;
    font-size: 0;
}
.process .processBox .telNumber strong {
    display: inline-block;
    width: 380px;
    padding: 15px 0 15px 35px ;
    background: #997F71;
    color: #fff;
    text-align: center;
    font-size: 18px;
    position: relative;
    border-radius: 10px;
}
.process .processBox .telNumber strong:nth-child(2) {
    margin-left: 20px;
    background: #CD8181;
}
.process .processBox .telNumber strong:before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background: url("../images/ico-call-white.png") no-repeat center / cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 68px;
}
/*   inq-process-animation   */
.process .processBox .item {
    margin: 0 auto;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    transform: scale(0);
    opacity: 0;
    transition: 1s;
}
.process .processBox .item.on {
    transform: scale(1);
    opacity: 1;
}
.process .processBox .item li.on {animation: itemAni 1s linear 1;}
.process .processBox .item li.on:nth-child(1) {animation-delay: 1s;}
.process .processBox .item li.on:nth-child(2) {animation-delay: 2.5s;}
.process .processBox .item li.on:nth-child(3) {animation-delay: 4s;}
.process .processBox .item li.on:nth-child(4) {animation-delay: 5.5s;}
.process .processBox .item li.on:nth-child(5) {animation-delay: 7s;}
.process .processBox .item li.on:nth-child(6) {animation-delay: 8.5s;}
.process .processBox .item li.on:nth-child(7) {animation-delay: 10s;}
.process .processBox .item li.on:nth-child(8) {animation-delay: 11.5s;}
.process .processBox .item li.on:nth-child(9) {animation-delay: 13s;}
@keyframes itemAni {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}

/*   inq-inqArea   */
.inqArea {margin-top: 80px;}
.inqArea .titleBox {font-size: 32px;}
.inqArea .inqAccordion li {margin-bottom: 20px;}
.inqArea .inqAccordion li:nth-child(6) {margin-bottom: 0;}
.inqArea .inqAccordion li .inqTitle {
    width: 100%;
    height: 60px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding-left: 20px;
    line-height: 58px;
    position: relative;
    cursor: pointer;
}
.inqArea .inqAccordion li .inqTitle:after {
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    background: url("../images/ico-arrow-accordion.png") no-repeat center / cover;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    transition: 0.5s;
}
.inqArea .inqAccordion li .inqTitle.active:after {transform: translateY(-50%) rotate(0);}
.inqArea .inqAccordion li .inqTitle strong {font-size: 18px;}
.inqArea .inqAccordion li .inqTitle:hover strong {color: #AC2D2D;}
.inqArea .inqAccordion li .inqDesc {
    display: none;
    background: #F7EAEA;
    padding: 25px;
    line-height: 1.5;
    font-size: 17px;
}