@import "common.css";

.cateArea .cateTitle {
    background: url("../images/store-menu.jpg") no-repeat center/cover;
}
.cateArea .cateTitle h2 {
    height: 230px;
    font-family: 'GongGothicMedium', sans-serif;
    font-size: 40px;
    color: #fff;
    text-align: center;
    line-height: 230px;
}
.cateArea .cateMenu {
    text-align: center;
}
.cateArea .cateMenu ul {
    font-size: 0;
    display: flex;
    justify-content: center;
}
.cateArea .cateMenu ul li a {
    display: block;
    font-size: 20px;
    font-weight: 600;
    width: 160px;
    padding: 12px 0;
}
.cateArea .cateMenu ul li a:hover {
    color: #633B2D;
}
.cateArea .cateMenu .menuProgress {
    height: 5px;
    background: #E4E4E4;
}
.cateArea .cateMenu .menuProgress .menuBarInner {
    width: 320px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}
.cateArea .cateMenu .menuProgress .menuBar {
    width: 160px;
    height: 5px;
    background: #000;
    position: absolute;
}

.store {
    padding: 80px 0;
    background: url("../images/new-back-30.png") no-repeat center / cover;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    position: relative;
}
.store:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
}
.store .titleBox {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 30px;
    position: relative;
    text-align: center;
}
.store .titleBox:after {
    content: "";
    position: absolute;
    width: 100px;
    height: 5px;
    background: #000;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.store .storeArea {
    margin-top: 50px;
    display: flex;

}
.store .storeArea .storeAni  {
    display: flex;
    animation: storeAni 35s linear infinite;
}
@keyframes storeAni {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.store .storeArea .storeAni div {
    width: 300px;
    height: 250px;
    padding: 8px 6px;
    box-sizing: border-box;
    background: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    margin-right: 30px;
}

.store .storeArea img {
    width: 288px;
    height: 192px;
    object-fit: cover;
}
.store .storeArea p {
    text-align: center;
    padding-top: 18px;
}

.mapArea {
    padding: 80px 0;
}

.mapArea .mapSearchArea .btnArea {
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
}
.mapArea .mapSearchArea .btnArea button {
    width: 420px;
    height: 45px;
    background: transparent;
    border: 1px solid #ddd;
    font-family: 'NanumSquare', sans-serif;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
}
.mapArea .mapSearchArea .btnArea button:hover {
    border-color: #AC2D2D;
}
.mapArea .mapSearchArea .btnArea button.border {
    border-color: #AC2D2D;
}
.mapArea .mapSearchArea .btnArea button:before {
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    position: absolute;
    background: url("../images/ico-new.png")no-repeat center / cover;
    left: 150px;
    top: 50%;
    transform: translateY(-50%);
}
.mapArea .mapSearchArea .btnArea button span {
    padding-left: 30px;
    line-height: 43px;
}
.mapArea .mapSearchArea .btnArea button.parkBtn:before {
    background-image: url("../images/ico-park.png");
}
.mapArea .mapSearchArea .btnArea button.petBtn:before {
    left: 130px;
    background-image: url("../images/ico-pet.png");
}
.mapArea .mapSearchArea .searchArea {
    display: flex;
    gap: 20px;
}
.mapArea .mapSearchArea .searchArea select {
    border: 1px solid #ddd;
    width: 230px;
    height: 45px;
    padding-left: 10px;
    font-family: 'NanumSquare', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    cursor: pointer;
}

.mapArea .mapSearchArea .searchArea .search {
    position: relative;
}
.mapArea .mapSearchArea .searchArea #search {
    border: 1px solid #ddd;
    width: 800px;
    height: 45px;
    box-sizing: border-box;
    font-family: 'NanumSquare', sans-serif;
    font-size: 18px;
    padding-left: 10px;
}
.mapArea .mapSearchArea .searchArea button {
    width: 40px;
    height: 40px;
    background: transparent;
    border: transparent;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.mapArea .mapSearchArea .searchArea button:before {
    content: "";
    display: flex;
    width: 20px;
    height: 20px;
    background: url("../images/ico-search.png")no-repeat center / cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mapArea .mapSearchArea .map {
    margin: 50px 0 70px;
}

.mapArea .mapSearchArea .mapInfo {}
.mapArea .mapSearchArea .mapInfo colgroup col:nth-child(1) {
    width: 250px;
}
.mapArea .mapSearchArea .mapInfo colgroup col:nth-child(2) {
    width: 700px;
}
.mapArea .mapSearchArea .mapInfo colgroup col:nth-child(3) {
    width: 200px;
}
.mapArea .mapSearchArea .mapInfo colgroup col:nth-child(4) {
    width: 150px;
}
.mapArea .mapSearchArea .mapInfo tr:nth-child(1) {
    background: #EEEEEE;
    border-top: 1px solid #888888;
}
.mapArea .mapSearchArea .mapInfo tr {
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-weight: 500;
    border-bottom: 1px solid #DDDDDD;
}
.mapArea .mapSearchArea .mapInfo tr th {
    font-size: 18px;
    font-weight: 700;
}
.mapArea .mapSearchArea .mapInfo tr td.park {
    position: relative;
}
.mapArea .mapSearchArea .mapInfo tr td.park:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 28px;
    height: 24px;
    background: url("../images/ico-park-28.png") no-repeat center/cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.mapArea .mapSearchArea .mapInfo tr td:nth-child(1) a:hover,
.mapArea .mapSearchArea .mapInfo tr td:nth-child(2) a:hover {
    color: #AC2D2D;
}
.mapArea .mapSearchArea .mapInfo tr td:nth-child(4) a {
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/ico-search-black.png") no-repeat center / cover;
}
.mapArea .mapSearchArea .searchArea button:hover:before{
    background-image: url("../images/ico-search-black.png");
}
.mapArea .mapSearchArea .mapInfo tr td:nth-child(4) a:hover {
    background-image: url("../images/ico-search.png");
}
.mapArea .mapSearchArea .mapInfo tr td:nth-child(2) {
    text-align: left;
    padding-left: 15px;
}

.mapArea .mapSearchArea .mapInfo ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}
.mapArea .mapSearchArea .mapInfo ul li {}
.mapArea .mapSearchArea .mapInfo ul li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 28px;
    text-align: center;
    box-sizing: border-box;
}
.mapArea .mapSearchArea .mapInfo ul li a.check {
    border: 1px solid #AC2D2D;
    color: #AC2D2D;
}
.mapArea .mapSearchArea .mapInfo ul li a.leftArrow {
    background: url("../images/ico-left-arrow.png");
}
.mapArea .mapSearchArea .mapInfo ul li a.rightArrow {
    background: url("../images/ico-right-arrow.png");
}
.mapArea .mapSearchArea .mapInfo ul li a:hover {
    color: #AC2D2D;
}